@font-face {
	font-family: 'journalism';
	src: url('../fonts/journalism.ttf');
	font-display: swap;
}


h1,
h2 {
	margin: 0;
}


html,
body {
	z-index: -3;
	overflow-x: hidden;
	margin: 0;
	color: var(--white);
}


body {
	position: relative;
	min-width: 360px;
}






:root {
	box-sizing: border-box;

	--white: white;
	--gray-dark: #5A5A5A;
	--gray: #878787;
	--gray-light: #686C84;
	--black: #242424;
}


a:active,
a:hover,
a {
	text-decoration: none;
	color: #000000;
}

input {
	display: block;
	width: 100%;
	height: auto;
	font: inherit;
	letter-spacing: unset;
	word-spacing: unset;
	line-height: 1;
	text-shadow: none;
	text-align: unset;
	writing-mode: unset;
	text-rendering: unset;
	text-indent: 0;
	color: inherit;
	text-transform: none;
	background-color: unset;
	padding: 0;
	border: 1px solid;
	border-radius: 0;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	margin: 0;
	appearance: none;
	cursor: default;
}

button {
	display: block;
	width: 100%;
	align-items: unset;
	font: inherit;
	font-variant-caps: unset;
	font-style: normal;
	font-weight: normal;
	font-variant-ligatures: unset;
	font-variant-numeric: unset;
	font-variant-east-asian: unset;
	font-stretch: unset;
	letter-spacing: unset;
	word-spacing: unset;
	line-height: 1;
	text-shadow: none;
	text-align: unset;
	writing-mode: unset;
	text-rendering: unset;
	text-indent: 0;
	color: inherit;
	text-decoration: none;
	text-transform: none;
	background-color: unset;
	padding: 0;
	border: 1px solid;
	border-radius: 0;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	margin: 0;
	appearance: none;
	cursor: pointer;
}